<% @page_title = "配送リスト" %>
<% if flash[:sendfood] %><p class="alert"><%= flash[:sendfood] %></p><% end %>
<br>
<%= link_to "← 戻る", foods_path %>
<% if @orders.present? %>
<table cellspacing="10">
  <thead>
    <tr>
      <th>User</th>
      <th>Address</th>
      <th>OrderDate</th>
      <th>FoodID</th>
      <th>quantity</th>
      <th>subtotal</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <% @order_details = OrderDetail.where(order_id: order.id).where(reserve: false)
        .paginate(page: params[:page], per_page: 10) %>
      <% @order_details.each do |order_detail| %>
    		  <% @member = Member.find(order.member_id) %>
      		<tr>
        		<td><%= @member.user_name %></td>
        		<td><%= @member.address %></td>
        		<td><%= order.order_date %></td>
        		<td><%= order_detail.food_id %></td>
        		<td><%= order_detail.quantity %></td>
        		<td><%= order_detail.subtotal %></td>
        		<td><%= link_to "[配送]" , controller: "orders", action: "submit",
        		 order_id: order.id , order_detail_id: order_detail.id ,member_id: @member.id ,
              :method => :get %></td>
      		</tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<br><br>
  <%= will_paginate @order_details %>
<% else %>
<br><br><br><br>
<h1>現在配送待ちの商品はありません</h1>
<% end %>