<p id="notice"><%= notice %></p>

<p>
  <strong>User name:</strong>
  <%= @member.user_name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @member.email %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @member.gender %>
</p>

<p>
  <strong>Age:</strong>
  <%= @member.age %>
</p>

<p>
  <strong>Address:</strong>
  <%= @member.address %>
</p>

<p>
  <strong>User type:</strong>
  <%= @member.user_type %>
</p>

<%= link_to '登録情報を更新する', edit_member_path(@member) %>  | 
<%= link_to '戻る', foods_path %><br><br>
